button.button {
	max-width: 295px;
}

button.button,
button.actionButton {
	padding: 0px;
	cursor: pointer;
	text-decoration: none;
}

/* Primary Button */
button.primaryButton.actionButton,
a.primaryButton.actionButton:global(.phone-number-or-url-anchor),
button.primaryButton.button,
a.primaryButton.button:global(.phone-number-or-url-anchor) {
	width: 100%;
	border-radius: 10px;
	background-color: var(--cc-secondary-color);
	color: var(--cc-secondary-contrast-color);
	border: none;
	outline: none;
	height: 44px;
}
button.primaryButton.actionButton:hover,
button.primaryButton.actionButton:focus,
a.primaryButton.actionButton:hover,
a.primaryButton.actionButton:focus,
button.primaryButton.button:hover,
button.primaryButton.button:focus,
a.primaryButton.button:hover,
a.primaryButton.button:focus {
	background-color: var(--cc-secondary-color-hover);
}
button.primaryButton.actionButton:focus-visible,
a.primaryButton.actionButton:focus-visible,
button.primaryButton.button:focus-visible,
a.primaryButton.button:focus-visible {
	outline: 2px solid var(--cc-primary-color);
	outline-offset: 2px;
}
button.primaryButton.actionButton:disabled,
a.primaryButton.actionButton:global(.disabled),
button.primaryButton.button:disabled,
button.primaryButton.actionButton:disabled:hover,
button.primaryButton.actionButton:disabled:focus,
a.primaryButton.actionButton:global(.disabled):hover,
a.primaryButton.actionButton:global(.disabled):focus,
button.primaryButton.button:disabled:hover,
button.primaryButton.button:disabled:focus {
	cursor: default;
	pointer-events: none;
	background-color: var(--cc-secondary-color-disabled);
}

/* Secondary Button */
button.secondaryButton.actionButton,
a.secondaryButton.actionButton:global(.phone-number-or-url-anchor),
button.secondaryButton.button,
a.secondaryButton.button:global(.phone-number-or-url-anchor) {
	width: 100%;
	border-radius: 10px;
	background-color: var(--cc-white);
	color: var(--cc-secondary-color);
	border: 1px solid var(--cc-secondary-color);
	outline: none;
	height: 44px;
}
button.secondaryButton.actionButton:hover,
button.secondaryButton.actionButton:focus,
a.secondaryButton.actionButton:hover,
a.secondaryButton.actionButton:focus,
button.secondaryButton.button:hover,
button.secondaryButton.button:focus,
a.secondaryButton.button:hover,
a.secondaryButton.button:focus {
	color: var(--cc-secondary-color-hover);
	border: 1px solid var(--cc-secondary-color-hover);
	background-color: var(--cc-white);
}
button.secondaryButton.actionButton:disabled,
a.secondaryButton.actionButton:global(.disabled),
button.secondaryButton.button:disabled,
button.secondaryButton.actionButton:disabled:hover,
button.secondaryButton.actionButton:disabled:focus,
a.secondaryButton.actionButton:global(.disabled):hover,
a.secondaryButton.actionButton:global(.disabled):focus,
button.secondaryButton.button:disabled:hover,
button.secondaryButton.button:disabled:focus {
	cursor: default;
	color: var(--cc-secondary-color-disabled);
	pointer-events: none;
	border: 1px solid var(--cc-secondary-color-disabled);
	background-color: var(--cc-white);
}

.buttonListItem {
	width: 100%;
}
