.message {
	line-height: 1.5;
	font-weight: 400;
	color: black;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	color: var(--webchat-message-color, #1c1c1c);
	font-weight: 400;
	font-size: var(--webchat-message-font-size, 14px);
	line-height: 1.4;
	margin-block: var(--webchat-message-margin-block, 24px);
	margin-inline: var(--webchat-message-margin-inline, 20px);
}

.collated {
	margin-block-start: calc(var(--webchat-message-margin-block, 24px) * -0.5);
}

.message a:not(:global(.phone-number-anchor)) {
	color: var(--text-link);
}

.message a:hover:not(:global(.phone-number-anchor)),
.message a:focus:not(:global(.phone-number-anchor)) {
	color: var(--text-link-hover);
}
