article .wrapper {
	border-radius: var(--bubble-border-radius);
	max-width: 295px;
	width: 100%;
}

article .wrapper img {
	border-radius: var(--bubble-border-radius);
	width: 100%;
	display: block;
}

.wrapperDownloadable {
	cursor: pointer;
}
.wrapperDownloadable:hover {
	opacity: 0.8;
}
.wrapperDownloadable:focus {
	opacity: 0.8;
	outline: none;
}

article .flexImage img {
	aspect-ratio: 16/9;
	object-fit: cover;
	object-position: left;
}

article .fixedImage img {
	height: auto;
}
