article .wrapper {
	position: relative;
	border-radius: var(--bubble-border-radius);
	max-width: 295px;
	width: 100%;
	outline: none;
}

article .wrapper img {
	border-radius: var(--bubble-border-radius);
	width: 100%;
	display: block;
	outline: none;
}

.wrapperDownloadable {
	cursor: pointer;
}
.wrapperDownloadable:hover img,
.wrapperDownloadable:focus img {
	opacity: 0.8;
}

article .flexImage img {
	aspect-ratio: 16/9;
	object-fit: cover;
	object-position: left;
}

article .fixedImage img {
	height: auto;
}

article .downloadButtonWrapper {
	position: absolute;
	padding: 16px;
	bottom: 0px;
	width: calc(100% - 32px);
}
