.text {
	white-space: pre-wrap;
	overflow-wrap: break-word;
	display: inline;
}

.text a:focus-visible {
	outline: 2px solid var(--cc-primary-color);
	outline-offset: 2px;
}

.text img {
	max-width: 100%;
}

.markdown {
	display: inline;
}

.markdown > p:only-child {
	margin: 0;
}

.container {
	display: flex;
	flex-direction: column;
}
