.text {
	white-space: pre-wrap;
	overflow-wrap: break-word;
	display: inline;
}

.text a:focus-visible {
	outline: 2px solid var(--cc-primary-color-focus);
	outline-offset: 2px;
}

.text img {
	max-width: 100%;
}

.markdown {
	display: inline;
	white-space: normal;
}

.markdown > p:only-child {
	margin: 0;
}
.markdown *:first-child {
	margin-top: 0;
}

.markdown *:last-child {
	margin-bottom: 0;
}

.markdown p:last-child {
	display: inline;
}

.markdown table {
	border-collapse: separate;
	border-spacing: 0;
	margin-bottom: 4px;
	margin-top: 4px;
}

.markdown th {
	text-align: left;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-width: 0px;
	background-color: var(--cc-black-90);
	border-style: solid;
	border-color: var(--cc-black-80);
	padding: 4px 12px;
}

.markdown th:first-child {
	border-top-left-radius: 6px;
}

.markdown th:last-child {
	border-top-right-radius: 6px;
	border-right-width: 1px;
}

.markdown td {
	border-style: solid;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-color: var(--cc-black-80);
	padding: 4px 12px;
}

.markdown td:last-child {
	border-right-width: 1px;
}

.markdown tbody tr:last-child td:first-child {
	border-bottom-left-radius: 6px;
}

.markdown tbody tr:last-child td:last-child {
	border-bottom-right-radius: 6px;
}

.container {
	display: flex;
	flex-direction: column;
}
