button.button,
a.button {
	border-radius: 19px;
	padding: 8px 10px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	text-decoration: none;
	background: var(--primary-color);
	color: var(--white);
	border: none;
	outline: none;
}

button.button svg,
a.button svg,
button.button path,
a.button svg path {
	fill: var(--white);
	width: 12px;
}

button.button:hover,
a.button:hover,
button.button:focus,
a.button:focus {
	background: var(--primary-color-hover);
}

button.button:disabled,
button.button:disabled:hover,
button.button:disabled:focus,
a.button.disabled,
a.button.disabled:hover,
a.button.disabled:focus {
	background: var(--primary-color-disabled);
	cursor: default;
}
