button.button,
a.button {
	border-radius: 19px;
	padding: 8px 10px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	text-decoration: none;
	background: var(--cc-primary-color);
	color: var(--cc-primary-contrast-color);
	border: none;
	outline: none;
}

a.button:global(.phone-number-or-url-anchor) {
	background: var(--cc-primary-color);
}

button.button svg,
a.button svg,
button.button path,
a.button svg path {
	fill: var(--cc-primary-contrast-color);
	width: 12px;
}

button.button:hover,
a.button:hover,
button.button:focus,
a.button:focus {
	background: var(--cc-primary-color-hover);
}
button.button:focus-visible,
a.button:focus-visible,
a.button:global(.phone-number-or-url-anchor):focus-visible {
	outline: 2px solid var(--cc-primary-color);
	outline-offset: 2px;
}

button.button:disabled,
button.button:disabled:hover,
button.button:disabled:focus,
a.button.disabled,
a.button.disabled:hover,
a.button.disabled:focus {
	background: var(--cc-primary-color-disabled);
	cursor: default;
	pointer-events: none;
}
