button.button,
a.button {
	border-radius: 19px;
	padding: 8px 10px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	text-decoration: none;
	background: var(--cc-primary-color);
	color: var(--cc-primary-contrast-color);
	border: none;
	outline: none;
	position: relative;
}

a.button:global(.phone-number-or-url-anchor) {
	background: var(--cc-primary-color);
}

button.button svg,
a.button svg,
button.button path,
a.button svg path {
	fill: var(--cc-primary-contrast-color);
	width: 12px;
}

button.button:hover,
a.button:hover,
button.button:focus,
a.button:focus {
	background: var(--cc-primary-color-hover);
}

/* Explicitly increase the specificity of the :focus-visible selector by including the parent [data-cognigy-webchat-root] selector. This ensures custom focus styles override Firefox's default dotted outline. */
[data-cognigy-webchat-root] button.button:focus-visible,
[data-cognigy-webchat-root] a.button:focus-visible,
[data-cognigy-webchat-root] a.button:global(.phone-number-or-url-anchor):focus-visible {
	outline: 2px solid var(--cc-primary-color-focus);
	outline-offset: 2px;
	box-shadow: 0 0 0 4px var(--cc-primary-contrast-color);
}

button.button:disabled,
button.button:disabled:hover,
button.button:disabled:focus,
a.button.disabled,
a.button.disabled:hover,
a.button.disabled:focus {
	background: var(--cc-primary-color-disabled);
	cursor: default;
	pointer-events: none;
}

.buttonLabelWithImage {
	margin-left: 40px;
}

.buttonImage {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-top-left-radius: 19px;
	border-bottom-left-radius: 19px;
}

.buttonImage.imageDisabled {
	opacity: 0.6;
}

.buttonImageContainer {
	display: flex;
	position: absolute;
	left: 0;
	width: 40px;
	height: 100%;
	border-right: 2px solid var(--cc-primary-contrast-color);
}
