.buttons {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 8px;
	max-width: 295px;
}

ul.buttons {
	list-style: none;
	padding-inline-start: 0;
	margin-block: 0;
}

ul.buttons li {
	list-style: none;
}
