[data-cognigy-webchat-root] button.primaryButton {
	width: 100%;
	border-radius: 10px;
	background-color: var(--secondary-color);
	color: var(--white);
	border: none;
	outline: none;
	margin: 0px;
}
[data-cognigy-webchat-root] button.primaryButton:hover {
	background-color: var(--secondary-color-hover);
}
[data-cognigy-webchat-root] button.primaryButton:disabled,
[data-cognigy-webchat-root] button.primaryButton[disabled] {
	background-color: var(--secondary-color-disabled);
}

[data-cognigy-webchat-root] button.secondaryButton {
	width: 100%;
	border-radius: 10px;
	background-color: var(--white);
	color: var(--secondary-color);
	border: 1px solid var(--secondary-color);
	outline: none;
	margin: 0px;
}
[data-cognigy-webchat-root] button.secondaryButton:hover {
	color: var(--secondary-color-hover);
	border: 1px solid var(--secondary-color-hover);
}
[data-cognigy-webchat-root] button.secondaryButton:disabled,
[data-cognigy-webchat-root] button.secondaryButton[disabled] {
	color: var(--secondary-color-disabled);
	border: 1px solid var(--secondary-color-disabled);
}
