.primaryButton {
    width: 100%;
    border-radius: 10px;
    background-color: var(--secondary-color);
    color: var(--white);
    border: none;
    outline: none;
    margin: 0px;
}

.primaryButton:hover {
    background-color: var(--secondary-color-hover);
}

.primaryButton:disabled,
.primaryButton[disabled] {
    background-color: var(--secondary-color-disabled);
}