article button.primaryButton,
article a.primaryButton {
	width: 100%;
	border-radius: 10px;
	background-color: var(--secondary-color);
	color: var(--white);
	border: none;
	outline: none;
	height: 44px;
}
article button.primaryButton:hover,
article button.primaryButton:focus,
article a.primaryButton:hover,
article a.primaryButton:focus {
	background-color: var(--secondary-color-hover);
}
article button.primaryButton:disabled,
article button.primaryButton[disabled] {
	background-color: var(--secondary-color-disabled);
}

article button.secondaryButton,
article a.secondaryButton {
	width: 100%;
	border-radius: 10px;
	background-color: var(--white);
	color: var(--secondary-color);
	border: 1px solid var(--secondary-color);
	outline: none;
	height: 44px;
}
article button.secondaryButton:hover,
article button.secondaryButton:focus,
article a.secondaryButton:hover,
article a.secondaryButton:focus {
	color: var(--secondary-color-hover);
	border: 1px solid var(--secondary-color-hover);
}
article button.secondaryButton:disabled,
article button.secondaryButton[disabled] {
	color: var(--secondary-color-disabled);
	border: 1px solid var(--secondary-color-disabled);
}

article button.secondaryButton svg,
article button.secondaryButton svg path,
article a.secondaryButton svg,
article a.secondaryButton svg path {
	fill: var(--secondary-color);
}
article button.secondaryButton:hover svg,
article button.secondaryButton:hover svg path,
article button.secondaryButton:focus svg,
article button.secondaryButton:focus svg path,
article a.secondaryButton:hover svg,
article a.secondaryButton:hover svg path,
article a.secondaryButton:focus svg,
article a.secondaryButton:focus svg path {
	fill: var(--secondary-color-hover);
}
article button.secondaryButton:disabled svg,
article button.secondaryButton:disabled svg path,
article button.secondaryButton[disabled] svg,
article button.secondaryButton svg[disabled] path {
	color: var(--secondary-color-disabled);
}

article a.primaryButton,
article a.secondaryButton {
	padding: 0px;
}
