article .wrapper {
	border-radius: var(--cc-bubble-border-radius);
	max-width: 295px;
	position: relative;
}

article .player {
	aspect-ratio: 16/9;
	max-width: 295px;
	object-fit: cover;
	object-position: left;
	overflow: hidden;
	border-radius: var(--cc-bubble-border-radius);
}

article .wrapperWithButton {
	border: 1px solid var(--cc-black-80);
}

article .wrapperWithButton .player {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

article .downloadButtonWrapper {
	padding: 16px;
	background-color: var(--cc-white);
	border-bottom-left-radius: var(--cc-bubble-border-radius);
	border-bottom-right-radius: var(--cc-bubble-border-radius);
}

article .downloadButton {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;

}

article .downloadIcon,
article .downloadIcon path {
	width: 12px;
	fill: var(--cc-primary-contrast-color);
}

article .player > div:first-child {
	background-color: var(--cc-black-10);
	outline: none;
	aspect-ratio: 16/9;
	height: auto !important;
}

article .player > div:first-child:hover,
article .player > div:first-child:focus {
	opacity: 0.85;
}

article .player > div:first-child:hover svg circle,
article .player > div:first-child:focus svg circle {
	fill-opacity: 1;
}

article .wrapper:focus .player,
article .player:focus-within {
	outline: 2px solid var(--cc-primary-color);
}

article .wrapper:focus,
article .player video:focus {
	outline: none;
}
