.ac-pushbutton,
.ac-pushbutton.subdued {
	background-color: transparent;
	border: 1px solid primaryColor;
	color: primaryColor;

	cursor: pointer;
	height: 40px;

	padding: 10px 20px;
	border-radius: 14px;
}

.ac-pushbutton.style-default.expandable.expanded {
	background: primaryGradient;
	color: primaryContrastColor;
	border: 1px solid primaryColor;

	cursor: pointer;
	height: 40px;

	padding: 10px 20px;
	border-radius: 14px;
}

/*.ac-input {
  border: 1px solid ${theme.primaryColor};
  height: 40;
  padding: ${theme.unitSize}px ${theme.unitSize * 2}px;
}*/

.adaptivecard-wrapper {
	width: 100%;
	box-sizing: border-box;
	max-width: 100%;
	padding: 16px !important;
}

.adaptivecard-wrapper > *:focus {
	outline: 1px solid var(--primary-color);
	border-color: var(--primary-color);
}

.adaptivecard-wrapper button {
	appearance: none;
	background: var(--black-10);
	border-radius: 10px;
	border: none;
	color: white;
	cursor: pointer;
	font-size: 14px !important;
	font-weight: 600;
	line-height: 160% !important;
	min-width: 100%;
	padding-block: 11px;
	width: 100%;
}

.adaptivecard-wrapper button:hover {
	background: var(--black-30);
}

.adaptivecard-wrapper button:disabled {
	background: var(--black-90);
}

.adaptivecard-wrapper :global(.ac-textRun) {
	color: var(--black-40) !important;
	font-size: 12px !important;
	line-height: 140%;
}

.adaptivecard-wrapper :global(.ac-container) {
	border-radius: 15px;
}

.adaptivecard-wrapper input,
.adaptivecard-wrapper textarea,
.adaptivecard-wrapper select {
	align-self: stretch;
	background-position: right 12px center;
	background-repeat: no-repeat;
	background: var(--Basics-white, #fff);
	border-radius: 10px;
	border: 1px solid var(--Basics-black-60, #999);
	color: var(--black-40) !important;
	display: flex;
	font-size: 14px !important;
	gap: 10px;
	line-height: 140%;
	padding: 8px 12px 8px 12px;
	resize: none;
}

.adaptivecard-wrapper textarea {
	min-height: 98px;
}

.adaptivecard-wrapper textarea::-webkit-scrollbar {
	width: 27px;
}

.adaptivecard-wrapper textarea::-webkit-scrollbar-track {
	background: transparent;
}

.adaptivecard-wrapper textarea::-webkit-scrollbar-thumb {
	background-color: var(--black-80);
	border-radius: 10px;
	border: 12px solid var(--white);
	border-block: none;
}

.adaptivecard-wrapper input:focus,
.adaptivecard-wrapper textarea:focus,
.adaptivecard-wrapper select:focus {
	outline: 1px solid var(--primary-color);
	border-color: 1px solid var(--primary-color);
}

.adaptivecard-wrapper :global(.ac-actionSet) {
	flex-wrap: wrap;
	gap: 8px;
}

.adaptivecard-wrapper > * {
	background-color: white;
	border-radius: 15px;
	box-shadow: none;
	padding: 0;
	border: 1px solid var(--black-80);
	margin: -17px;
}

.adaptivecard-wrapper [type="checkbox"] {
	appearance: none;
	background-color: var(--white);
	border: 1px solid var(--black-10, #999);
	border-radius: 1px;
	width: 16px;
	height: 16px;
}

.adaptivecard-wrapper [type="checkbox"]:checked {
	background-color: var(--black-10);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.5172 4.4569C12.8172 4.74256 12.8288 5.2173 12.5431 5.51724L7.19089 11.1371C6.69828 11.6543 5.87315 11.6543 5.38054 11.1371L3.4569 9.11724C3.17123 8.8173 3.18281 8.34256 3.48276 8.0569C3.78271 7.77123 4.25744 7.78281 4.5431 8.08276L6.28572 9.9125L11.4569 4.48276C11.7426 4.18281 12.2173 4.17123 12.5172 4.4569Z' fill='white'/%3E%3C/svg%3E");
	background-position: -1px -1px;
}

.adaptivecard-wrapper [type="checkbox"]:active {
	background-color: var(--black-60);
	border-color: var(--black-60);
}

.adaptivecard-wrapper [type="checkbox"]:checked:hover {
	background-color: var(--black-40);
	border-color: var(--black-40);
}

.adaptivecard-wrapper input:invalid {
	border-color: red;
}

.adaptivecard-wrapper [type="date"] {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3 0.75C3 0.335786 3.33579 0 3.75 0C4.16421 0 4.5 0.335786 4.5 0.75V3H11V0.75C11 0.335786 11.3358 0 11.75 0C12.1642 0 12.5 0.335786 12.5 0.75V3H14C15.1046 3 16 3.89543 16 5V14C16 15.1046 15.1046 16 14 16H2C0.895431 16 0 15.1046 0 14V5C0 3.89543 0.895431 3 2 3H3V0.75ZM1.5 6H14.5V14C14.5 14.2761 14.2761 14.5 14 14.5H2C1.72386 14.5 1.5 14.2761 1.5 14V6Z' fill='%232455E6'/%3E%3C/svg%3E");
	background-position: right 12px center;
	background-repeat: no-repeat;
}

.adaptivecard-wrapper [type="date"]::-webkit-calendar-picker-indicator,
.adaptivecard-wrapper [type="time"]::-webkit-calendar-picker-indicator {
	background: none;
	appearance: none;
	display: none;
}

.adaptivecard-wrapper [type="time"] {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 14.5C11.5899 14.5 14.5 11.5899 14.5 8C14.5 4.41015 11.5899 1.5 8 1.5C4.41015 1.5 1.5 4.41015 1.5 8C1.5 11.5899 4.41015 14.5 8 14.5ZM8 16C12.4183 16 16 12.4183 16 8C16 3.58172 12.4183 0 8 0C3.58172 0 0 3.58172 0 8C0 12.4183 3.58172 16 8 16Z' fill='%232455E6'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.0303 12.0303C10.7374 12.3232 10.2626 12.3232 9.96967 12.0303L7.25 9.31066L7.25 4C7.25 3.58579 7.58578 3.25 8 3.25C8.41421 3.25 8.75 3.58579 8.75 4L8.75 8.68934L11.0303 10.9697C11.3232 11.2626 11.3232 11.7374 11.0303 12.0303Z' fill='%232455E6'/%3E%3C/svg%3E");
	background-position: right 12px center;
	background-repeat: no-repeat;
}

.adaptivecard-wrapper select {
	appearance: none;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.34923 4.24022C1.76855 3.8808 2.39985 3.92936 2.75927 4.34869L8.00002 10.4629L13.2408 4.34869C13.6002 3.92936 14.2315 3.8808 14.6508 4.24022C15.0701 4.59965 15.1187 5.23095 14.7593 5.65027L9.51853 11.7645C8.72034 12.6957 7.2797 12.6957 6.4815 11.7645L1.24076 5.65027C0.881339 5.23095 0.929901 4.59965 1.34923 4.24022Z' fill='%232455E6'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: right 12px center;
}

.adaptivecard-wrapper select::-ms-expand {
	display: none;
}

.adaptivecard-wrapper select:focus {
	outline: none;
}

.adaptivecard-wrapper select option {
	color: var(--black-40);
	border-bottom: 1px solid var(--black-10);
}
