article .wrapper {
	border-radius: var(--cc-bubble-border-radius);
	max-width: 295px;
	position: relative;
	display: flex;
}

article .audioWrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 52px;
	width: 100%;
	gap: 10px;
	background-color: var(--cc-white);
	border-radius: var(--cc-bubble-border-radius);
	border: 1px solid var(--cc-black-80);
	padding: 0px 12px;
}

article .audioWrapper .controls {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 16px;
	width: 100%;
}

article .audioWrapper .downloadButton {
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	width: 30px;
	height: 30px;
}

article .audioWrapper .downloadButton:hover svg path {
	fill-opacity: 85%;
}

article .audioWrapper .downloadButton:focus-visible {
	outline: 2px solid var(--cc-primary-color-focus);
	outline-offset: 2px;
}

article button.playButton {
	all: unset;
	outline: revert;
	line-height: 0;
	display: block;
	cursor: pointer;
}

article button.playButton:hover,
article button.playButton:focus {
	outline: none;
}
article button.playButton:focus-visible {
	outline: 2px solid var(--cc-primary-color-focus);
	outline-offset: 2px;
}

article button.playButton:focus svg circle,
article button.playButton:hover svg circle {
	fill-opacity: 85%;
}

/*** Custom range input ***/
.progressBar {
	display: flex;
	width: 100%;
}

article .progressBar input[type="range"] {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	cursor: pointer;
	outline: none;
	border-radius: var(--cc-bubble-border-radius);
	height: 3px;
	background: var(--cc-black-80);
}

/* Thumb: Webkit */
article .progressBar input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	height: 13px;
	width: 13px;
	background-color: var(--cc-primary-color-focus);
	border-radius: 50%;
	border: none;
	transition: 0.2s ease-in-out;
}

/* Thumb: Firefox */
article .progressBar input[type="range"]::-moz-range-thumb {
	height: 13px;
	width: 13px;
	background-color: var(--cc-primary-color-focus);
	border-radius: 50%;
	border: none;
	transition: 0.2s ease-in-out;
}

/* Hover, active & focus Thumb: Webkit */

article .progressBar input[type="range"]::-webkit-slider-thumb:hover {
	box-shadow: 0 0 0 7px var(--cc-primary-color-opacity-10);
}
article .progressBar input[type="range"]:active::-webkit-slider-thumb {
	box-shadow: 0 0 0 9px var(--cc-primary-color-opacity-20);
}
article .progressBar input[type="range"]:focus::-webkit-slider-thumb {
	box-shadow: 0 0 0 9px var(--cc-primary-color-opacity-20);
}

/* Hover, active & focus Thumb: Firefox */

article .progressBar input[type="range"]::-moz-range-thumb:hover {
	box-shadow: 0 0 0 7px var(--cc-primary-color-opacity-10);
}
article .progressBar input[type="range"]:active::-moz-range-thumb {
	box-shadow: 0 0 0 9px var(--cc-primary-color-opacity-20);
}
article .progressBar input[type="range"]:focus::-moz-range-thumb {
	box-shadow: 0 0 0 9px var(--cc-primary-color-opacity-20);
}
