article .wrapper {
	max-width: 295px;
	border-radius: var(--cc-bubble-border-radius);
	border: 1px solid var(--cc-black-80);
	background-color: var(--cc-white);
}

article .wrapper .listItemRoot {
	border-top-right-radius: var(--cc-bubble-border-radius);
	border-top-left-radius: var(--cc-bubble-border-radius);
}

.headerRoot {
	aspect-ratio: 16/9;
	background-size: cover;
	background-position: center center;
	position: relative;
	display: flex;
	flex-direction: column;
}

.headerRoot::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: hsla(0, 0%, 0%, 0.4); /* image overlay */
	border-radius: inherit;
}

.headerRoot:focus {
	opacity: 0.6;
}

.headerContentWrapper {
	border-radius: inherit;
	position: relative;
	flex-grow: 1;
	align-content: flex-end;
}

.headerContentWrapper:focus-visible {
	outline: 2px solid var(--cc-primary-color);
	box-shadow: inset 0 0 0 2px var(--cc-white);
}

.headerContent {
	padding: 16px 16px 12px 16px;
	color: var(--cc-white);
}

.headerContent > * {
	color: var(--cc-white);
}

.headerContentWithButton {
	padding-bottom: 72px; /* 12px headerContent bottom padding + 44px button height + 16px button bottom padding */
}

.itemTitle {
	margin-top: 0px;
	margin-bottom: 0px;
}

.itemTitleWithSubtitle {
	margin-top: 0px;
	margin-bottom: 8px;
}

.itemSubtitle {
	margin-top: 0px;
	margin-bottom: 0px;
}

.itemSubtitle.ignoreWS {
	white-space: initial;
}

.listItemWrapper {
	position: relative;
	display: flex;
}

.listItemWrapper:focus {
	outline: none;
}

.listItemWrapper:focus-visible {
	outline: 2px solid var(--cc-primary-color);
	outline-offset: -10px;
}

.listItemContent {
	padding: 16px 16px 12px 16px;
	overflow-wrap: break-word;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	align-items: center;
	gap: 16px;
	width: 100%;
	color: var(--cc-black-20);
}

.listItemText {
	width: 100%;
}

.listItemText > * {
	color: var(--cc-black-20);
}

.listItemImage {
	background-size: cover;
	background-position: center center;
	border-radius: 10px;
	width: 86px;
	height: 102px;
	flex-shrink: 0;
}

.listHeaderButtonWrapper {
	position: absolute;
	bottom: 16px;
	right: 16px;
	left: 16px;
}

.listHeaderButtonWrapper button:focus {
	border: 2px solid var(--cc-secondary-contrast-color);
	outline-offset: 0px !important;
}

.listItemButtonWrapper {
	padding: 0 16px 16px 16px;
}

.mainButtonWrapper {
	padding: 16px;
}
