.divider {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--black-80);
}

.primary-button {
    width: 100%;
    border-radius: 10px;
    background-color: var(--secondary-color);
    color: var(--white);
    border: none;
    outline: none;
    margin: 0px;
}

.primary-button:hover {
    background-color: var(--secondary-color-hover);
}

.primary-button:disabled,
.primary-button[disabled] {
    background-color: var(--secondary-color-disabled);
}