.message {
	line-height: 1.5;
	font-weight: 400;
	background-color: #fff;
	color: black;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	color: var(--webchat-message-color, #1c1c1c);
	font-weight: 400;
	font-size: var(--webchat-message-font-size, 14px);
	line-height: 1.3;
	margin-block: var(--webchat-message-margin-block, 24px);
}
