.avatar {
	border-radius: 1000px;
	width: 28px;
	height: 28px;
	background-color: var(--primary-color);
	box-sizing: border-box;
	margin: 2px;
}

.avatar-name {
	margin: 0;
	margin-inline-start: 2px;
	padding: 0;
}

.avatar-name::after {
	color: var(--black-60);
	content: "•";
	font-size: 20px;
	line-height: 0;
	position: relative;
	top: 1px;
	margin-inline-start: 8px;
}
