.bubble {
	border-radius: 15px;
	border: 1px solid var(--border-bot-message);
	padding: 12px;
	max-width: 295px;
	width: max-content;
	box-sizing: border-box;
	margin-block-end: 12px;
	word-break: break-word;
	white-space: pre-wrap;
}

article:global(.bot) .bubble {
	background: var(--background-bot-message);
	color: var(--bot-message-contrast-color)
}

article:global(.agent) .bubble {
	background: var(--background-agent-message);
	border-color: var(--border-agent-message);
	color: var(--agent-message-contrast-color);
}

article:global(.user) .bubble {
	background: var(--background-user-message);
	border-color: var(--border-user-message);
	margin-inline-start: auto;
	color: var(--user-message-contrast-color);
}
