.bubble {
	border-radius: 15px;
	border: 1px solid var(--black-80);
	padding: 12px;
	max-width: 295px;
	width: max-content;
	box-sizing: border-box;
	margin-block-end: 12px;
	word-break: break-word;
	white-space: pre-wrap;
}

article:not(:global(.user)) .bubble {
	background: var(--background-bot-message);
}

article:global(.user) .bubble {
	background: var(--background-user-message);
	border-color: transparent;
}

article:not(:global(.user)) .incoming,
article:global(.user) .incoming {
	margin-inline-start: none;
}

article:not(:global(.user)) .outgoing,
article:global(.user) .outgoing {
	margin-inline-start: auto;
}
