.bubble {
	border-radius: 15px;
	border: 1px solid var(--cc-border-bot-message);
	padding: 12px;
	max-width: 295px;
	width: max-content;
	box-sizing: border-box;
	margin-block-end: 12px;
	word-break: break-word;
	white-space: pre-wrap;
}

.bubble.disableBorder {
	border: none;
	background: none !important;
}

article:global(.bot) .bubble {
	background: var(--cc-background-bot-message);
	color: var(--cc-bot-message-contrast-color);
}

article:global(.agent) .bubble {
	background: var(--cc-background-agent-message);
	border-color: var(--cc-border-agent-message);
	color: var(--cc-agent-message-contrast-color);
}

article:global(.user) .bubble {
	background: var(--cc-background-user-message);
	border-color: var(--cc-border-user-message);
	color: var(--cc-user-message-contrast-color);
}

article:not(:global(.user)) .incoming,
article:global(.user) .incoming {
	margin-inline-start: none;
}

article:not(:global(.user)) .outgoing,
article:global(.user) .outgoing {
	margin-inline-start: auto;
}
