.eventPill {
	display: flex;
	max-width: 250px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin-inline: auto;
	margin-block-start: 40px;
}

.eventPillTextWrapper {
	border-radius: 15px;
	background: var(--cc-black-80);
	color: var(--cc-black-20);
	padding: 8px 12px;
}
