article .header {
	display: flex;
	align-items: center;
	column-gap: 12px;
	margin-block-end: 8px;
}

article .header.ongoing {
	height: 32px;
	margin-block-end: 12px;
}

article .header .headerMeta {
	font-size: 12px;
	line-height: 140%;
	display: flex;
	gap: 8px;
	align-items: center;
}

article .header.outgoing {
	flex-direction: row-reverse;
}

article .header .timestamp {
	color: var(--black-40);
}

article .header .avatar-name {
	margin: 0;
	padding: 0;
}
