.message {
	line-height: 1.5;
	font-weight: 400;
	color: black;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	color: var(--webchat-message-color, #1c1c1c);
	font-weight: 400;
	font-size: var(--webchat-message-font-size, 0.875rem); /* 14px */
	line-height: 1.4;
	margin-block: var(--webchat-message-margin-block, 1.5rem); /* 24px */
	margin-inline: var(--webchat-message-margin-inline, 1.25rem); /* 20px */
}

.collated {
	margin-block-start: calc(var(--webchat-message-margin-block, 1.5rem) * -0.5); /* 24px */
}

.fullscreen {
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
	flex: 1;
}

.message a:not(:global(.phone-number-or-url-anchor)) {
	color: var(--cc-text-link);
}

.message a:hover:not(:global(.phone-number-or-url-anchor)),
.message a:focus:not(:global(.phone-number-or-url-anchor)) {
	color: var(--cc-text-link-hover);
}
