[data-cognigy-webchat-root] .flatpickr-calendar {
	font-size: 16px;
}

[data-cognigy-webchat-root] .flatpickr-calendar.open,
[data-cognigy-webchat-root] .flatpickr-calendar.inline {
	opacity: 1;
	/* max-height: 640px; */
	visibility: visible;
}

[data-cognigy-webchat-root] .flatpickr-calendar.open {
	display: inline-block;
	z-index: 99999;
}

/* .flatpickr-calendar.animate.open {
    -webkit-animation: fpFadeInDown 300ms cubic-bezier(0.23, 1, 0.32, 1);
    animation: fpFadeInDown 300ms cubic-bezier(0.23, 1, 0.32, 1);
} */

[data-cognigy-webchat-root] .flatpickr-calendar.inline {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
}

[data-cognigy-webchat-root] .flatpickr-calendar.static {
	position: absolute;
	top: calc(100% + 2px);
}

[data-cognigy-webchat-root] .flatpickr-calendar.static.open {
	z-index: 999;
	display: block;
}

[data-cognigy-webchat-root]
	.flatpickr-calendar.multiMonth
	.flatpickr-days
	.dayContainer:nth-child(n + 1)
	.flatpickr-day.inRange:nth-child(7n + 7) {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

[data-cognigy-webchat-root]
	.flatpickr-calendar.multiMonth
	.flatpickr-days
	.dayContainer:nth-child(n + 2)
	.flatpickr-day.inRange:nth-child(7n + 1) {
	-webkit-box-shadow: -2px 0 0 #e6e6e6, 5px 0 0 #e6e6e6;
	box-shadow: -2px 0 0 #e6e6e6, 5px 0 0 #e6e6e6;
}

[data-cognigy-webchat-root] .flatpickr-calendar .hasWeeks .dayContainer,
[data-cognigy-webchat-root] .flatpickr-calendar .hasTime .dayContainer {
	border-bottom: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

[data-cognigy-webchat-root] .flatpickr-calendar .hasWeeks .dayContainer {
	border-left: 0;
}

[data-cognigy-webchat-root] .flatpickr-calendar.showTimeInput.hasTime .flatpickr-time {
	height: 40px;
	border-top: 1px solid #e6e6e6;
}

[data-cognigy-webchat-root] .flatpickr-calendar.noCalendar.hasTime .flatpickr-time {
	height: auto;
}

[data-cognigy-webchat-root] .flatpickr-calendar.rightMost:before,
[data-cognigy-webchat-root] .flatpickr-calendar.rightMost:after {
	left: auto;
	right: 22px;
}

[data-cognigy-webchat-root] .flatpickr-calendar:before {
	border-width: 5px;
	margin: 0 -5px;
}

[data-cognigy-webchat-root] .flatpickr-calendar:after {
	border-width: 4px;
	margin: 0 -4px;
}

[data-cognigy-webchat-root] .flatpickr-calendar.arrowTop:before,
[data-cognigy-webchat-root] .flatpickr-calendar.arrowTop:after {
	bottom: 100%;
}

[data-cognigy-webchat-root] .flatpickr-calendar.arrowTop:before {
	border-bottom-color: #e6e6e6;
}

[data-cognigy-webchat-root] .flatpickr-calendar.arrowTop:after {
	border-bottom-color: #fff;
}

[data-cognigy-webchat-root] .flatpickr-calendar.arrowBottom:before,
[data-cognigy-webchat-root] .flatpickr-calendar.arrowBottom:after {
	top: 100%;
}

[data-cognigy-webchat-root] .flatpickr-calendar.arrowBottom:before {
	border-top-color: #e6e6e6;
}

[data-cognigy-webchat-root] .flatpickr-calendar.arrowBottom:after {
	border-top-color: #fff;
}

[data-cognigy-webchat-root] .flatpickr-calendar:focus {
	outline: 0;
}

[data-cognigy-webchat-root] .flatpickr-wrapper {
	width: 100%;
	display: flex;
}

[data-cognigy-webchat-root] .flatpickr-months {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 10px;
	height: 44px;
	margin-bottom: 24px;
}

[data-cognigy-webchat-root] .flatpickr-months .flatpickr-month {
}

[data-cognigy-webchat-root] .flatpickr-months .flatpickr-prev-month,
[data-cognigy-webchat-root] .flatpickr-months .flatpickr-next-month {
	text-decoration: none;
	cursor: pointer;
	display: inline-flex;
	z-index: 3;
}

[data-cognigy-webchat-root] .flatpickr-months .flatpickr-prev-month.disabled,
[data-cognigy-webchat-root] .flatpickr-months .flatpickr-next-month.disabled {
	display: none;
}

[data-cognigy-webchat-root] .flatpickr-months .flatpickr-prev-month i,
[data-cognigy-webchat-root] .flatpickr-months .flatpickr-next-month i {
	position: relative;
}

[data-cognigy-webchat-root] .flatpickr-months .flatpickr-prev-month.flatpickr-prev-month,
[data-cognigy-webchat-root] .flatpickr-months .flatpickr-next-month.flatpickr-prev-month {
	/*
       /*rtl:begin:ignore*/
	/*
       */
	left: 0;
	/*
       /*rtl:end:ignore*/
	/*
       */
}

/*
       /*rtl:begin:ignore*/

/*
       /*rtl:end:ignore*/

[data-cognigy-webchat-root] .flatpickr-months .flatpickr-prev-month.flatpickr-next-month,
[data-cognigy-webchat-root] .flatpickr-months .flatpickr-next-month.flatpickr-next-month {
	/*
       /*rtl:begin:ignore*/
	/*
       */
	right: 0;
	/*
       /*rtl:end:ignore*/
	/*
       */
}

/*
       /*rtl:begin:ignore*/

/*
       /*rtl:end:ignore*/

[data-cognigy-webchat-root] .flatpickr-months .flatpickr-prev-month:hover,
[data-cognigy-webchat-root] .flatpickr-months .flatpickr-next-month:hover {
	color: #959ea9;
}

[data-cognigy-webchat-root] .flatpickr-months .flatpickr-prev-month svg path,
[data-cognigy-webchat-root] .flatpickr-months .flatpickr-next-month svg path {
	fill: var(--black-10);
}
[data-cognigy-webchat-root] .flatpickr-months .flatpickr-next-month svg {
	transform: rotate(180deg);
}

[data-cognigy-webchat-root] .numInputWrapper {
	position: relative;
	height: auto;
}

[data-cognigy-webchat-root] .numInputWrapper input,
[data-cognigy-webchat-root] .numInputWrapper span {
	display: inline-block;
}

[data-cognigy-webchat-root] .numInputWrapper input {
	width: 100%;
	-moz-appearance: textfield;
	appearance: textfield;
}

[data-cognigy-webchat-root] .numInputWrapper input::-ms-clear {
	display: none;
}

[data-cognigy-webchat-root] .numInputWrapper input::-webkit-outer-spin-button,
[data-cognigy-webchat-root] .numInputWrapper input::-webkit-inner-spin-button {
	margin: 0;
	-webkit-appearance: none;
}

/* [data-cognigy-webchat-root] .numInputWrapper span {
	position: absolute;
	right: 0;
	width: 14px;
	padding: 0 4px 0 2px;
	height: 50%;
	line-height: 50%;
	cursor: pointer;
	border: 1px solid rgba(57, 57, 57, 0.15);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

[data-cognigy-webchat-root] .numInputWrapper span:hover {
	background: rgba(0, 0, 0, 0.1);
}

[data-cognigy-webchat-root] .numInputWrapper span:active {
	background: rgba(0, 0, 0, 0.2);
}

[data-cognigy-webchat-root] .numInputWrapper span:after {
	display: block;
	content: "";
	position: absolute;
}

[data-cognigy-webchat-root] .numInputWrapper span svg {
	width: inherit;
	height: auto;
}

[data-cognigy-webchat-root] .numInputWrapper span svg path {
	fill: rgba(0, 0, 0, 0.5);
}

[data-cognigy-webchat-root] .numInputWrapper:hover span {
	opacity: 1;
} */

[data-cognigy-webchat-root] .flatpickr-current-month {
}

[data-cognigy-webchat-root] .flatpickr-current-month span.cur-month,
[data-cognigy-webchat-root] .flatpickr-current-month .flatpickr-monthDropdown-months {
	display: none;
}

[data-cognigy-webchat-root] .flatpickr-current-month .numInputWrapper {
	width: 60px;
	height: 44px;
}

[data-cognigy-webchat-root] .flatpickr-current-month .numInputWrapper span.arrowUp,
[data-cognigy-webchat-root] .flatpickr-current-month .numInputWrapper span.arrowDown {
	display: none;
}

[data-cognigy-webchat-root] .flatpickr-current-month input.cur-year {
	border-radius: 10px;
	border: 1px solid var(--black-60, #999);
	background: var(--white, #fff);
	display: flex;
	padding: 12px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	height: 100%;
	font-size: 14px;
	box-sizing: border-box;
}

[data-cognigy-webchat-root] .flatpickr-current-month input.cur-year:focus {
	outline: 0;
}

[data-cognigy-webchat-root] .flatpickr-current-month input.cur-year[disabled],
[data-cognigy-webchat-root] .flatpickr-current-month input.cur-year[disabled]:hover {
	pointer-events: none;
}

[data-cognigy-webchat-root] .flatpickr-weekdays {
	background: transparent;
	text-align: center;
	overflow: hidden;
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	height: 28px;
}

[data-cognigy-webchat-root] .flatpickr-weekdays .flatpickr-weekdaycontainer {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

span.flatpickr-weekday {
	cursor: default;
	background: transparent;
	color: var(--black-40);
	line-height: 140%;
	margin: 0;
	text-align: center;
	display: block;
	flex: 1;
	font-weight: 400;
}

[data-cognigy-webchat-root] .dayContainer,
[data-cognigy-webchat-root] .flatpickr-weeks {
	padding: 1px 0 0 0;
}

[data-cognigy-webchat-root] .flatpickr-days {
	position: relative;
	overflow: visible;
	width: 100%;
	text-align: center;
}

[data-cognigy-webchat-root] .flatpickr-days:focus {
	outline: 0;
}

[data-cognigy-webchat-root] .dayContainer {
	padding: 0;
	outline: 0;
	text-align: left;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-ms-flex-pack: justify;
	-webkit-justify-content: space-around;
	justify-content: space-around;
	-webkit-transform: translate3d(0px, 0px, 0px);
	transform: translate3d(0px, 0px, 0px);
	opacity: 1;
}

[data-cognigy-webchat-root] .dayContainer + .dayContainer {
	-webkit-box-shadow: -1px 0 0 #e6e6e6;
	box-shadow: -1px 0 0 #e6e6e6;
}

[data-cognigy-webchat-root] .flatpickr-day {
	background: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: #393939;
	cursor: pointer;
	font-weight: 600;

	-webkit-flex-basis: 14.2857143%;
	-ms-flex-preferred-size: 14.2857143%;
	flex-basis: 14.2857143%;
	margin: 0;

	display: inline-flex;
	position: relative;
	justify-content: center;
	align-items: center;

	aspect-ratio: 1/1;
}

[data-cognigy-webchat-root] .flatpickr-day .dayInner {
	width: 32px;
	height: 32px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

[data-cognigy-webchat-root] .flatpickr-day:hover .dayInner,
[data-cognigy-webchat-root] .flatpickr-day.nextMonthDay:hover .dayInner,
[data-cognigy-webchat-root] .flatpickr-day.prevMonthDay:hover .dayInner,
[data-cognigy-webchat-root] .flatpickr-day:focus .dayInner,
[data-cognigy-webchat-root] .flatpickr-day.prevMonthDay:focus .dayInner,
[data-cognigy-webchat-root] .flatpickr-day.nextMonthDay:focus .dayInner {
	background-color: var(--black-95);
}

[data-cognigy-webchat-root] .flatpickr-day.today .dayInner {
	background-color: var(--primary-color-opacity-20);
}

[data-cognigy-webchat-root] .flatpickr-day.selected .dayInner {
	background-color: var(--primary-color);
	color: var(--white);
}

[data-cognigy-webchat-root] .flatpickr-day.inRange .dayInner,
[data-cognigy-webchat-root] .flatpickr-day.inRange:hover .dayInner,
[data-cognigy-webchat-root] .flatpickr-day.prevMonthDay.inRange .dayInner,
[data-cognigy-webchat-root] .flatpickr-day.nextMonthDay.inRange .dayInner,
[data-cognigy-webchat-root] .flatpickr-day.today.inRange .dayInner,
[data-cognigy-webchat-root] .flatpickr-day.prevMonthDay.today.inRange .dayInner,
[data-cognigy-webchat-root] .flatpickr-day.nextMonthDay.today.inRange .dayInner {
	width: 100%;
	background-color: var(--primary-color);
	color: var(--white);
}

[data-cognigy-webchat-root] .flatpickr-day.startRange .dayInner,
[data-cognigy-webchat-root] .flatpickr-day.startRange:hover .dayInner,
[data-cognigy-webchat-root] .flatpickr-day.endRange .dayInner,
[data-cognigy-webchat-root] .flatpickr-day.endRange:hover .dayInner {
	background-color: var(--primary-color);
	color: var(--white);
}

[data-cognigy-webchat-root] .flatpickr-day.startRange:not(.endRange) .dayInner {
	border-top-right-radius: unset;
	border-bottom-right-radius: unset;
}

[data-cognigy-webchat-root] .flatpickr-day.endRange:not(.startRange) .dayInner {
	border-top-left-radius: unset;
	border-bottom-left-radius: unset;
}

[data-cognigy-webchat-root] .flatpickr-day.inRange .dayInner::after,
[data-cognigy-webchat-root] .flatpickr-day.startRange:not(.endRange) .dayInner::after,
[data-cognigy-webchat-root] .flatpickr-day.inRange .dayInner::before,
[data-cognigy-webchat-root] .flatpickr-day.endRange:not(.startRange) .dayInner::before {
	content: "";
	height: 32px;
	width: 32px;
	position: absolute;
	background-color: var(--primary-color);
	z-index: -1;
}
[data-cognigy-webchat-root] .flatpickr-day.inRange .dayInner::after,
[data-cognigy-webchat-root] .flatpickr-day.startRange:not(.endRange) .dayInner::after {
	right: -10px;
}
[data-cognigy-webchat-root] .flatpickr-day.inRange .dayInner::before,
[data-cognigy-webchat-root] .flatpickr-day.endRange:not(.startRange) .dayInner::before {
	left: -10px;
}

[data-cognigy-webchat-root] .flatpickr-day.disabled,
.flatpickr-disabled.flatpickr-day,
[data-cognigy-webchat-root] .flatpickr-day.disabled:hover,
[data-cognigy-webchat-root] .flatpickr-day.prevMonthDay,
[data-cognigy-webchat-root] .flatpickr-day.nextMonthDay,
[data-cognigy-webchat-root] .flatpickr-day.notAllowed,
[data-cognigy-webchat-root] .flatpickr-day.notAllowed.prevMonthDay,
[data-cognigy-webchat-root] .flatpickr-day.notAllowed.nextMonthDay {
	color: rgba(57, 57, 57, 0.3);
	background: transparent;
	border-color: transparent;
	cursor: default;
}

[data-cognigy-webchat-root] .flatpickr-day.disabled,
[data-cognigy-webchat-root] .flatpickr-day.disabled:hover {
	cursor: not-allowed;
	color: rgba(57, 57, 57, 0.1);
}

[data-cognigy-webchat-root] .flatpickr-day.week.selected {
	border-radius: 0;
	-webkit-box-shadow: -5px 0 0 #569ff7, 5px 0 0 #569ff7;
	box-shadow: -5px 0 0 #569ff7, 5px 0 0 #569ff7;
}

[data-cognigy-webchat-root] .flatpickr-day.hidden {
	visibility: hidden;
}

[data-cognigy-webchat-root] .rangeMode .flatpickr-day {
	margin-top: 1px;
}

[data-cognigy-webchat-root] .flatpickr-weekwrapper .flatpickr-weeks {
	/* padding: 0 12px; */
}

[data-cognigy-webchat-root] .flatpickr-weekwrapper .flatpickr-weekday {
	background: transparent;
	text-align: center;
	overflow: hidden;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 28px;
}

[data-cognigy-webchat-root] .flatpickr-weekwrapper span.flatpickr-day,
[data-cognigy-webchat-root] .flatpickr-weekwrapper span.flatpickr-day:hover {
	background: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: var(--black-60);
	cursor: pointer;
	font-weight: 600;

	-webkit-flex-basis: 14.2857143%;
	-ms-flex-preferred-size: 14.2857143%;
	flex-basis: 14.2857143%;
	margin: 0;

	display: inline-flex;
	position: relative;
	justify-content: center;
	align-items: center;

	aspect-ratio: 1/1;
	width: 100%;
}

[data-cognigy-webchat-root] .flatpickr-weekwrapper span.flatpickr-day span.weekdayInner {
	width: 27px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--black-80);
}
[data-cognigy-webchat-root]
	.flatpickr-weekwrapper
	span.flatpickr-day
	span.weekdayInner.currentWeek {
	color: var(--black-40);
}

[data-cognigy-webchat-root]
	.flatpickr-weekwrapper
	span.flatpickr-day:first-child
	span.weekdayInner {
	height: 27px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
[data-cognigy-webchat-root]
	.flatpickr-weekwrapper
	span.flatpickr-day:first-child
	span.weekdayInner::after {
	content: "";
	width: 27px;
	height: calc((100% - 27px) / 2);
	position: absolute;
	bottom: 0;
	background-color: var(--black-80);
}

[data-cognigy-webchat-root] .flatpickr-weekwrapper span.flatpickr-day:last-child span.weekdayInner {
	height: 27px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
[data-cognigy-webchat-root]
	.flatpickr-weekwrapper
	span.flatpickr-day:last-child
	span.weekdayInner::after {
	content: "";
	width: 27px;
	height: calc((100% - 27px) / 2);
	position: absolute;
	top: 0;
	background-color: var(--black-80);
}

[data-cognigy-webchat-root] .flatpickr-innerContainer {
	/* padding: 0px 10px; */
	/* display: flex; */
	/* flex-wrap: wrap; */
	/* flex-direction: row; */
	/* gap: 40px; */
}

[data-cognigy-webchat-root] .flatpickr-weekwrapper {
	float: left;
	width: 12.7%;
	position: relative;
	z-index: 1;
	/* padding-left: 10px; */
	/* display: inline-flex; */
}

[data-cognigy-webchat-root] .flatpickr-rContainer {
	/* width: 87.3%; */
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	/* padding-right: 10px; */
}

[data-cognigy-webchat-root] .flatpickr-time {
	text-align: center;
	outline: 0;
	height: 116px;
	margin: 12px 10px 0px 10px;
	padding-top: 24px;
	box-sizing: border-box;
	border-top: 1px solid var(--black-80);
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

[data-cognigy-webchat-root] .flatpickr-time:after {
	content: "";
	display: table;
	clear: both;
}

[data-cognigy-webchat-root] .flatpickr-time .numInputWrapper {
	width: 44px;
	height: 100%;
	position: relative;
	display: flex;
    align-items: center;
}

[data-cognigy-webchat-root] .flatpickr-time span.arrowUp:after,
[data-cognigy-webchat-root] .flatpickr-time span.arrowDown:after {
	display: none;
}

[data-cognigy-webchat-root] .flatpickr-time span.arrowUp,
[data-cognigy-webchat-root] .flatpickr-time span.arrowDown {
	position: absolute;
	width: 44px;
    display: flex;
    justify-content: center;
	cursor: pointer;
}

[data-cognigy-webchat-root] .flatpickr-time span.arrowUp.disabled,
[data-cognigy-webchat-root] .flatpickr-time span.arrowDown.disabled {
	cursor: default;
}

[data-cognigy-webchat-root] .flatpickr-time svg {
	pointer-events: none;
}

[data-cognigy-webchat-root] .flatpickr-time svg path {
	fill: var(--black-10);
}

[data-cognigy-webchat-root] .flatpickr-time span.disabled svg path {
	fill: var(--black-80);
}

[data-cognigy-webchat-root] .flatpickr-time span.arrowUp {
	top: 0;
	transform: rotate(90deg);
}
[data-cognigy-webchat-root] .flatpickr-time span.arrowDown {
	bottom: 0;
	transform: rotate(270deg);
}

[data-cognigy-webchat-root] .flatpickr-time input {
	border-radius: 10px;
	border: 1px solid var(--black-60, #999);
	background: var(--white, #fff);
	display: flex;
	padding: 12px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	height: 100%;
	font-size: 14px;
	box-sizing: border-box;
	height: 44px;
	width: 44px;
}

[data-cognigy-webchat-root] .flatpickr-time input.flatpickr-minute,
[data-cognigy-webchat-root] .flatpickr-time input.flatpickr-second {
	font-weight: 400;
}

[data-cognigy-webchat-root] .flatpickr-time input:focus {
	outline: 0;
}

[data-cognigy-webchat-root] .flatpickr-time .flatpickr-time-separator {
	width: 20px;
}

[data-cognigy-webchat-root] .flatpickr-time .flatpickr-am-pm {
	font-size: 14px;
	outline: 0;
	cursor: pointer;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 41px;
    height: 100%;
	margin-left: 24px;
}

[data-cognigy-webchat-root] .flatpickr-time .flatpickr-am-pm span:not(.disabled) {
	pointer-events: none;
}

[data-cognigy-webchat-root] .flatpickr-input {
	display: none;
}

@-webkit-keyframes fpFadeInDown {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, -20px, 0);
		transform: translate3d(0, -20px, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fpFadeInDown {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, -20px, 0);
		transform: translate3d(0, -20px, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}
