# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages

name: Publish

on:
    release:
        types: [published]

permissions:
    id-token: write # Required for npm trusted publishing (OIDC)
    contents: read

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v3
              with:
                  node-version: 24.x
            - run: npm ci
            - run: npm test

            # Use this GitHub Action
            - name: Check package version
              uses: technote-space/package-version-check-action@v1
              with:
                  COMMIT_DISABLED: 1

    publish-npm:
        needs: build
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v3
              with:
                  node-version: 24.x
                  registry-url: https://registry.npmjs.org/
            - run: npm ci
            - run: npm run build
            - run: npm publish
